ul{list-style: none;}

.flex-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.flex-item{
  background-color: orangered;
  color: white;
  width: 100px;
  line-height: 75px;
  margin: 10px;
  text-align: center;
}

@media (max-width: 576px) {
  .flex-container {
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    /* justify-content: space-evenly;
    flex-direction: row-reverse; */
  }
}