@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

#heading{
    font-family: Arial;
    background-color: red;
    color: white;
}

.sports-history{
    color: orange;
}

.computing-history{
    color: green;
}
p{
    font-family: 'Roboto Mono', sans-serif;
}
h3{
    font-family: 'Bitcount Grid Single', sans-serif;
}